body {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 17px;
    margin: 0;
    padding: 0;
    color: #000080;
}

header, nav, main, section, article, aside, footer {
    margin: 20px;
}

h1 {
    background-color: #223072;
    color: white; 
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

img {
    width: 1000px;
    height: auto; 
}

footer {
    text-align: center;
    background-color: #223072;
    padding: 10px;
    bottom: 0;
    box-sizing: border-box; 
}

footer p {
    color: white;
    font-size: 20px; 
    font-weight: bold; 
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer ul li a {
    color: white; 
    text-decoration: none; 
}

footer ul li a:hover {
    text-decoration: underline;
}

form div {
    margin-bottom: 1em;
}

label {
    display: block; 
    margin-bottom: 0.5em; 
}

input, textarea {
    width: 25%; 
    padding: 0.5em; 
}

button[type="submit"] {
    width: 20%; 
    padding: 0.5em; 
    margin-bottom: 65px;
}
